---
---

@import "{{ site.theme }}";

nav {
  text-align: center;
  margin-bottom: 25px;
  padding: 12px;
  background: #f4f4f4;
  border-radius: 8px;
}

nav a {
  display: inline-block;
  margin: 1px;
  padding: 3px 6px;
  background: #267CB9;
  color: white;
  text-decoration: none;
  border-radius: 3px;
  font-size: 13.5px;
}

nav a:hover {
  background: #1d5f8c;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
